<!-- Student List Section -->
  <div class="container">
    
    <h2 class="text-center mt-0">Student</h2>
    <hr class="divider my-4">
    <div class="table-responsive">
      <a class="btn btn-success my-2" href="/students/addStudent/">Add New students</a>
      <table border="1" cellspacing="0" cellpadding="5px" class="table table-hover table-bordered">
        <thead class="thead-light">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">SGP</th>
            <th scope="col">Department</th>
          </tr>
        </thead>
        <tbody>
          {{#each students}}
          <tr>
        
            <th scope="row">{{id}}</th>
             <td>{{First_name}}</td>  
            <td>{{Last_name}}</td>
            <td>{{SGP}}</td>
            <td>{{Semester}}</td>
            <td>{{Department}}</td>
            <td>

              <a href="/students/details/{{id}}" class="btn btn-info btn-sm">More info...</a>
              <a href="/students/edit/{{id}}" class="btn btn-secondary btn-sm">Edit</a>
              <a href="#myModal{{id}}" class="btn btn-danger btn-sm" data-toggle="modal">Delete</a>
	  </td>
          </tr>
	           
              <!-- Modal Window - Confirmation -->
              <div id="myModal{{id}}" class="modal fade">
                <div class="modal-dialog modal-confirm">
                  <div class="modal-content">
                    <div class="modal-header">
                      <div class="icon-box">
                        <i class="material-icons">&#xE5CD;</i>
                      </div>
                      <h4 class="modal-title">Are you sure?</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                      <p>Do you really want to delete this provider?<br>
                        This process cannot be undone.</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-info btn-md" data-dismiss="modal">Cancel</button>
                      <a href="/students/delete/{{id}}" type="button" class="btn btn-danger btn-md">Delete</a>
                       </div>
                  </div>
                </div>
              </div>
           
         
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</section>

